<main class = 'responsive'

<div class = 'heading'>
<h1>
  <div class="animated fadeInLeft">Easy</div><div class="animated fadeInRight">Expense</div>
</h1>
<p class="animated fadeInUp delay-1">Expense Tracker</p>
</div>



<div class="button"><div class="dollar">$</div></div>
<footer>Reload the frame to see it again. Using <a href="https://daneden.github.io/animate.css/" target="_blank">animate.css</a></footer>

</main>
